{
  "env": {
    "development": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": false,
            "helpers": false,
            "regenerator": true,
            "useESModules": true
          }
        ],
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false
          }
        ]
      ],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    },
    "lib": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ]
      ],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false
          }
        ]
      ],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    },
    "test": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": false,
            "helpers": false,
            "regenerator": true,
            "useESModules": true
          }
        ],
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ],
        "@babel/preset-react"
      ]
    }
  }
}
