{
  "env": {
    "development": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": false,
            "helpers": false,
            "regenerator": true,
            "useESModules": true
          }
        ]
      ]
    },
    "lib": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": false,
            "helpers": false,
            "regenerator": true,
            "useESModules": true
          }
        ]
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ],
        "@babel/preset-react"
      ]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
