{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "globals": {
    "__dirname": true,
    "Buffer": true,
    "global": true,
    "module": true,
    "process": true,
    "require": true
  },
  "parser": "babel-eslint",
  "rules": {}
}
