{
  "extends": ["rapid7/browser"],
  "globals": {
    "__dirname": true,
    "Buffer": true,
    "global": true,
    "module": true,
    "process": true,
    "require": true
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": 0,
    "object-curly-newline": 0,
    "object-curly-spacing": 0,
    "prefer-template": 0,
    "rapid7/named-import-newline": 0
  }
}
